.table td, .table th {
    vertical-align: middle;
    background-color:lightskyblue;
}

.table td{
    background-color: lightgrey;
}
h2 {
    color: blue;
}
hr {
    background-color: #ddd;
}
.jumbotron {
    padding: 20px;
}

input#username, input#texto {
    max-width: 40%;
}

.text-monospace{
    color: brown;
}

.ms-2 .me-auto{
    color: darkgreen;
}